[Unit]
Description=confirm this is a live system
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/test -f /etc/default/distro
Restart=no

[Install]
WantedBy=basic.target
