[Unit]
ConditionPathExists=/etc/default/distro
Description=localise live system
DefaultDependencies=no
Before=console-screen.service keyboard-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/distro
ExecStart=/usr/share/fll-live-initscripts/fll_locales start
Restart=no

[Install]
WantedBy=multi-user.target
