#!/usr/bin/make -f

%:
	dh ${@} --with=systemd

override_dh_installinit:
	dh_installinit --no-start --name=fll-adduser
	dh_installinit --no-start --name=fll-desktop
	dh_installinit --no-start --name=fll-fstab
	dh_installinit --no-start --name=fll-locales
	dh_installinit --no-start --name=fll-nbdclient
	dh_installinit --no-start --name=fll-reboot
	dh_installinit --no-start --name=fll-shell
	dh_installinit --no-start --name=fll-snakeoil-cert
	dh_installinit --no-start --name=fll-xdm
	dh_installinit

override_dh_systemd_enable:
	dh_systemd_enable --name=fll-networkd-one

override_dh_systemd_start:
	dh_systemd_start --no-start fll-networkd-one.service
